@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

.thumb {
  border: 1px solid var(--color-text);
  border-radius: 6px;
  margin: 0 auto 10px;
}

.thumb img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media tablet {
  .thumb {
    width: 400px;
    height: 400px;
  }
}
