.counter {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px;
  margin: 0 20px 20px 0;
  float: left;
}

.hover {
  background: #ffffd8;
}

.fancy {
  border: 5px solid gold;
}

.flexed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}