@value fstext: "../../../cssvariables/fstext.module.css";
@value color-text: "../../../cssvariables/color.module.css";
@value fstext from fstext;
@value color-text from color-text;

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.figure {
  display: flex;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid var(--color-text);
  border-radius: 10px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  display: block;
}

.figcaption {
  padding: 10px 10px 10px 0;
  padding-bottom: 10px;
  font-size: fstext;
  line-height: 1.8;
  color: color-text;
}
