.spinner {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.spinner p {
  font-size: 20px;
  font-weight: 500;
}

.icon-spin {
  margin-right: 10px;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
