@value mediasizes: "../../cssvariables/media.module.css";
@value fstexts: "../../cssvariables/fstext.module.css";
@value colors: "../../cssvariables/color.module.css";
@value mobile, smartphone, desktop from mediasizes;
@value fstext, fstext-smartphone from fstexts;
@value color-text, color-accent from colors;

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 400px;
}

.label {
  font-size: 10px;
  color: color-text;
  cursor: pointer;
  transition: var(--my-transition);
}

.field:hover .label,
.field:focus .label {
  color: color-accent;
}

.wrap {
  position: relative;
}

.input {
  width: 100%;
  padding: 4px 20px 4px 31px;
  border-radius: 4px;
  border: 1px solid color-text;
  font-size: fstext;
  color: color-text;
  transition: var(--my-transition);
}

.field:hover .input:not(:disabled),
.field:focus .input:not(:disabled) {
  color: color-accent;
  border: 1px solid color-accent;
}

.input:disabled {
  color: var(--color-text-opacity);
  border: 1px solid var(--color-text-opacity);
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  width: fstext;
  height: fstext;
  transform: translate(0, -50%);
  font-size: fstext;
  color: color-text;
  transition: var(--my-transition);
}

.field:hover .icon,
.field:focus .icon {
  color: color-accent;
}

.input:disabled + .icon {
  color: var(--color-text-opacity);
}

.input:disabled ~ .label {
  color: var(--color-text-opacity);
}

@media mobile {
  .label {
    font-size: 12px;
  }

  .input {
    padding: 4px 20px 4px 33px;
    font-size: var(--fs-text-smartphone);
  }

  .icon {
    width: var(--fs-text-smartphone);
    height: var(--fs-text-smartphone);
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone {
  .input {
    padding: 6px 20px 6px 35px;
    font-size: var(--fs-text-tablet);
  }

  .icon {
    width: var(--fs-text-tablet);
    height: var(--fs-text-tablet);
    font-size: var(--fs-text-tablet);
  }
}
