.figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -38%) scale(0.1);
  width: 70%;
  margin: 0 auto;
  border: 1px solid var(--color-text);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: var(--my-transition);
}

.image {
  width: 100%;
}

.caption {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--overlay);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
