@value mediasizes: "../../cssvariables/media.module.css";
@value smartphone from mediasizes;
@value colors: "../../cssvariables/color.module.css";
@value color-text, color-accent, color-text-opacity from colors;
@value animations: "../../cssvariables/animation.module.css";
@value transition from animations;

.caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  max-width: 480px;
  margin: 0 0 10px;
  color: color-text;
  cursor: pointer;
  transition: transition;
}

.caption:hover,
.caption:focus {
  color: color-accent;
}

.caption:last-child,
.caption:only-child {
  margin: 0 0 0;
}

.input {
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid color-text;
  color: color-text;
  transition: transition;
}

.caption:hover .input:not(:disabled),
.caption:focus .input:not(:disabled) {
  color: color-accent;
  border: 1px solid color-accent;
}

.input:disabled {
  color: color-text-opacity;
  border: 1px solid color-text-opacity;
  cursor: not-allowed;
}

.span:has(+ .input:disabled) {
  color: color-text-opacity;
  cursor: not-allowed;
}

@media smartphone {
  .caption {
    flex-direction: row;
    align-items: center;
  }

  .span {
    width: 33%;
    text-align: right;
  }

  .input {
    width: initial;
    flex-grow: 1;
  }
}
