@value sizes: "../../../../cssvariables/media.module.css";
@value mobile-to, smartphone-to from sizes;

.letter {
  transition: var(--my-transition);
  font-size: var(--fs-text-mobile);
  color: var(--color-text);
  background-color: var(--color-logolight);
}

.letter:hover {
  color: var(--color-dark);
  background-color: var(--color-accent-bg);
}

.letter:first-child {
  border-radius: 3px 3px 0 0;
}

.letter:last-child {
  border-radius: 0 0 3px 3px;
}

.letter:only-child {
  border-radius: 3px;
}

.highlighted {
  background: #d2eaff;
}

.label {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 6px 12px;
  cursor: pointer;
}

@media mobile-to {
  .letter {
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .letter {
    font-size: var(--fs-text-tablet);
  }
}
