@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, tablet-to from sizes;

.button {
  border: 1px solid var(--color-text);
  border-radius: 4px;
  padding: 4px 20px;
  font-size: var(--fs-text-mobile);
  background-color: var(--color-text);
  color: var(--color-light);
  transition: var(--my-transition);
}

.button:hover:enabled,
.button:active:enabled {
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: var(--color-light);
  transform: scale(1.02);
}

.button:disabled {
  opacity: 0.15;
}

.fullfilled {
  width: 100%;
}

@media mobile-to {
  .button {
    font-size: var(--fs-text-smartphone);
  }
}

@media tablet-to {
  .button {
    padding: 6px 20px;
    font-size: var(--fs-text-tablet);
  }
}
