@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.txt {
  padding-bottom: 10px;
  font-size: var(--fs-text-native);
  line-height: 1.8;
  color: var(--color-text);
}

.txt.centered {
  text-align: center;
}

@media mobile-to {
  .txt {
    font-size: var(--fs-text-mobile);
  }
}

@media smartphone-to {
  .txt {
    font-size: var(--fs-text-smartphone);
  }
}
