@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

.txt {
  padding-bottom: 10px;
  font-size: var(--fs-text-native);
  line-height: 1.8;
  color: var(--color-text);
}

.txt.centered {
  text-align: center;
}

@media mobile {
  .txt {
    font-size: var(--fs-text-mobile);
  }
}

@media smartphone {
  .txt {
    font-size: var(--fs-text-smartphone);
  }
}
