@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

.txt {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text);
}

.txt.centered {
  text-align: center;
}

@media mobile {
  .txt {
    font-size: 16px;
  }
}
