@value mediasizes: "../../cssvariables/media.module.css";
@value colors: "../../cssvariables/color.module.css";
@value tablet from mediasizes;
@value color-text from colors;

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: 1px solid color-text;
  border-radius: 6px;
  padding: 15px 10px;
  margin-bottom: 10px;
}

@media tablet {
  .form {
    max-width: 400px;
    margin: 0 auto 10px;
  }
}
