@value sizes: "../../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

.box {
  display: block;
}

@media desktop {
  .box {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.thumb {
  border: 1px solid var(--color-text);
  border-radius: 6px;
  margin: 0 auto 10px;
  padding: 10px;
}

@media desktop {
  .thumb {
    margin: 0;
  }
}

.thumb h3 {
  text-align: center;
}

.thumb li {
  padding: 4px 10px;
}

@media tablet {
  .thumb {
    width: 400px;
    height: 400px;
  }
}
