@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 1px;
  background-color: var(--color-text-opacity);
  overflow: hidden;
}

.list:last-child {
  margin-bottom: 0;
}

.list:only-child {
  margin-bottom: 0;
}

.message {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: 1px solid var(--color-text-opacity);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  color: var(--color-text-opacity);
}
