.figure {
  position: relative;
  width: 90%;
  margin: 0 auto;
  border: 1px solid var(--color-text);
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
}

.figcaption {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: var(--overlay);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
