@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.container {
  margin: 0 auto 20px;
  padding: 0 10px;
}

@media mobile-to {
  .container {
    max-width: 300px;
  }
}

@media smartphone-to {
  .container {
    max-width: 420px;
  }
}

@media tablet-to {
  .container {
    max-width: 720px;
  }
}

.container.navigation {
  margin: 0 auto;
}

@media tablet-to {
  .container.navigation {
    display: flex;
    justify-content: space-between;
  }
}

@media desktop-to {
  .container {
    max-width: 1200px;
  }
}
