@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

@value colors: "../../cssvariables/colors.module.css";
@value bgcolor, brdcolor from colors;

.container {
  margin: 0 auto 10px;
  padding: 0 10px;
}

@media mobile {
  .container {
    max-width: 300px;
  }
}

@media smartphone {
  .container {
    max-width: 420px;
  }
}

@media tablet {
  .container {
    max-width: 720px;
  }
}

@media desktop {
  .container {
    max-width: 1200px;
  }
}
