@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

.wrapper {
  margin: 0 24px;
  padding: 10px;
  text-align: center;
}

.wrapper * {
  padding: 0;
  color: var(--color-text);
  font-weight: 700;
}

@media tablet {
  .wrapper {
    width: 400px;
    margin: 0 auto;
  }
}
