@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.wrapper {
  margin: 0 24px;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: var(--fs-text-mobile);
  word-break: break-all;
  color: var(--color-text);
}

@media mobile-to {
  .wrapper {
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .wrapper {
    font-size: var(--fs-text-tablet);
  }
}

@media tablet-to {
  .wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
}
