@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

.wrapper {
  margin: 0 24px;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  word-break: break-all;
  color: var(--color-text);
}

@media tablet {
  .wrapper {
    width: 400px;
    margin: 0 auto;
  }
}
