@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to from sizes;

.text {
  padding-bottom: 10px;
  font-size: var(--fs-text-mobile);
  line-height: 1.8;
  color: var(--color-text);
}

.text.centeredText {
  text-align: center;
}

@media mobile-to {
  .text {
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .text {
    font-size: var(--fs-text-tablet);
  }
}
