@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;
@value item from "../Item/Item.module.css";

.itemContent {
  flex-grow: 1;
  font-size: var(--fs-text-mobile);
  color: var(--color-text);
}

.item:hover .itemContent {
  color: var(--color-dark);
}

@media mobile-to {
  .itemContent {
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .itemContent {
    font-size: var(--fs-text-tablet);
  }
}
