@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to from sizes;
@value item from "../Item/styles.module.css";

.content {
  flex-grow: 1;
  font-size: var(--fs-text-mobile);
  color: var(--color-text);
}

.item:hover .content {
  color: var(--color-dark);
}

@media mobile-to {
  .content {
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .content {
    font-size: var(--fs-text-tablet);
  }
}
