@value fstext: "../../../../cssvariables/fstext.module.css";
@value color-text: "../../../../cssvariables/color.module.css";
@value fstext from fstext;
@value color-text from color-text;

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.figure {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid var(--color-text);
  border-radius: 10px;
  overflow: hidden;
}

.image {
  align-self: flex-start;
}

.figcaption {
  font-size: fstext;
  line-height: 1.8;
  color: color-text;
}
