@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

.title {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid caption;
  text-align: center;
  font-size: 18px;
  line-height: 1.25;
  color: var(--color-caption);
}

@media mobile {
  .title {
    font-size: 22px;
  }
}

@media smartphone {
  .title {
    font-size: 24px;
  }
}

@media tablet {
  .title {
    text-align: left;
  }
}
