@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.logo {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-logolight);
  font-size: var(--fs-title-ii-mobile);
  font-weight: 600;
  line-height: 1.25;
  text-decoration: none;
  text-align: center;
  color: var(--color-accent);
}

@media mobile-to {
  .logo {
    font-size: var(--fs-title-ii-smartphone);
  }
}

@media smartphone-to {
  .logo {
    font-size: var(--fs-title-ii-tablet);
  }
}

@media tablet-to {
  .logo {
    border: none;
  }
}

.decor {
  color: var(--color-logolight);
}
