@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

.logo {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-logolight);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: none;
  text-align: center;
  color: var(--color-accent);
}

@media mobile {
  .logo {
    font-size: 16px;
  }
}

@media smartphone {
  .logo {
    font-size: 18px;
  }
}

@media tablet {
  .logo {
    border: none;
  }
}

.decor {
  color: var(--color-logolight);
}
