@value mediasizes: "../../cssvariables/media.module.css";
@value fstexts: "../../cssvariables/fstext.module.css";
@value colors: "../../cssvariables/color.module.css";
@value mobile, smartphone, tablet from mediasizes;
@value fstext, fstext-smartphone from fstexts;
@value color-light, color-accent from colors;

.logo {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid color-light;
  font-size: fstext;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: none;
  text-align: center;
  color: color-accent;
}

.decor {
  color: color-light;
}

@media smartphone {
  .logo {
    font-size: fstext-smartphone;
  }
}

@media tablet {
  .logo {
    border: none;
  }
}
