@value mediasizes: "../../cssvariables/media.module.css";
@value fstexts: "../../cssvariables/fstext.module.css";
@value mobile, smartphone from mediasizes;
@value fstext, fstext-smartphone from fstexts;

.logo {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-logolight);
  font-size: fstext;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: none;
  text-align: center;
  color: var(--color-accent);
}

.decor {
  color: var(--color-logolight);
}

@media smartphone {
  .logo {
    font-size: fstext-smartphone;
  }
}

@media tablet {
  .logo {
    border: none;
  }
}
