.letter {
  transition: var(--my-transition);
}

.letter {
  background-color: var(--color-logolight);
}

.letter:first-child {
  border-radius: 3px 3px 0 0;
}

.letter:last-child {
  border-radius: 0 0 3px 3px;
}

.letter:only-child {
  border-radius: 3px;
}

.highlighted {
  background: #d2eaff;
}

.label {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 6px 12px;
}
