@value sizes: "../../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.item {
  padding: 6px 8px;
}

.item:nth-child(odd) {
  background-color: var(--color-light-opacity);
}

.item-flex {
  display: flex;
  gap: 4px;
  align-items: center;
}

.item-content {
  flex-grow: 1;
  font-size: var(--fs-text-mobile);
  color: var(--color-text);
}

@media mobile-to {
  .item-content {
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .item-content {
    font-size: var(--fs-text-tablet);
  }
}
