@value mediasizes: "../../cssvariables/media.module.css";
@value fstexts: "../../cssvariables/fstext.module.css";
@value colors: "../../cssvariables/color.module.css";
@value mobile, smartphone, desktop from mediasizes;
@value fstext, fstext-smartphone, fslabel, fslabel-mobile from fstexts;
@value color-text, color-accent from colors;

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 400px;
}

.caption {
  font-size: fslabel;
  color: color-text;
  cursor: pointer;
  transition: var(--my-transition);
}

.field:hover .caption,
.field:focus .caption {
  color: color-accent;
}

.input {
  width: 100%;
  padding: 4px 10px 4px 36px;
  border-radius: 4px;
  border: 1px solid color-text;
  font-size: fstext;
  color: color-text;
  transition: var(--my-transition);
}

.field:hover .input:not(:disabled),
.field:focus .input:not(:disabled) {
  color: color-accent;
  border: 1px solid color-accent;
}

.input:disabled {
  color: var(--color-text-opacity);
  border: 1px solid var(--color-text-opacity);
}

.pictogram {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  width: fstext;
  height: fstext;
  font-size: fstext;
  color: color-text;
  transition: var(--my-transition);
}

.labPictogram {
  top: 28px;
}

.field:hover .pictogram,
.field:focus .pictogram {
  color: color-accent;
}

.input:disabled + .pictogram {
  color: var(--color-text-opacity);
}

.input:disabled ~ .caption {
  color: var(--color-text-opacity);
  cursor: not-allowed;
}

.caption:has(+ .input:disabled) {
  color: var(--color-text-opacity);
  cursor: not-allowed;
}

@media mobile {
  .caption {
    font-size: fslabel-mobile;
  }
}

@media smartphone {
  .input {
    padding: 6px 12px 6px 39px;
    font-size: fstext-smartphone;
  }

  .pictogram {
    width: fstext-smartphone;
    height: fstext-smartphone;
    font-size: fstext-smartphone;
    top: 12px;
  }

  .labPictogram {
    top: 30px;
  }
}
