@value mediasizes: "../../cssvariables/media.module.css";
@value fsheadings: "../../cssvariables/fsheading.module.css";
@value mobile, smartphone, tablet, desktop from mediasizes;
@value fs-page-title-mobile, fs-page-title-smartphone, fs-page-title-tablet, fs-page-title-desktop, fs-page-title-tv from fsheadings;

.heading {
  color: var(--color-caption);
  line-height: 1.25;
}

.heading01,
.pageTitle {
  font-size: fs-page-title-mobile;
}

.heading01 {
  margin-bottom: fs-page-title-mobile;
}

.heading02 {
  margin-bottom: 18px;
  font-size: 24px;
}

.heading03 {
  margin-bottom: 12px;
  font-size: 18px;
}

.heading04 {
  margin-bottom: 8px;
  font-size: 16px;
}

.heading05 {
  margin-bottom: 5px;
  font-size: 14px;
}

.heading06 {
  margin-bottom: 4px;
  font-size: 11px;
}

.pageTitle {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-caption);
  text-transform: uppercase;
  text-align: center;
}

@media mobile {
  .heading01,
  .pageTitle {
    font-size: fs-page-title-smartphone;
  }

  .heading01 {
    margin-bottom: fs-page-title-smartphone;
  }
}

@media smartphone {
  .heading01,
  .pageTitle {
    font-size: fs-page-title-tablet;
  }

  .heading01 {
    margin-bottom: fs-page-title-tablet;
  }
}

@media tablet {
  .heading01,
  .pageTitle {
    text-align: initial;
    font-size: fs-page-title-desktop;
  }

  .heading01 {
    margin-bottom: fs-page-title-desktop;
  }
}

@media desktop {
  .heading01,
  .pageTitle {
    font-size: fs-page-title-tv;
  }

  .heading01 {
    margin-bottom: fs-page-title-tv;
  }
}
