@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.heading {
  color: var(--color-caption);
}

.heading01 {
  margin-bottom: 1em;
}

.heading02 {
  margin-bottom: 0.75em;
}

.heading03 {
  margin-bottom: 0.6em;
}

.heading04 {
  margin-bottom: 0.5em;
}

.heading05 {
  margin-bottom: 0.4em;
}

.heading06 {
  margin-bottom: 0.33em;
}

.pageTitle {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-caption);
  text-transform: uppercase;
}
