@value mediasizes: "../../cssvariables/media.module.css";
@value fsheadings: "../../cssvariables/fsheading.module.css";
/* @value mobile, smartphone, tablet, desktop from mediasizes; */
@value smartphone, desktop from mediasizes;
@value heading1-mobile, heading1-tablet, heading1-tv from fsheadings;
@value heading2-mobile, heading2-tablet, heading2-tv from fsheadings;
@value heading3-mobile, heading3-tablet, heading3-tv from fsheadings;
@value heading4, heading5, heading6 from fsheadings;

.heading {
  color: var(--color-caption);
  line-height: 1.25;
}

.heading01,
.pageTitle {
  font-size: heading1-mobile;
}

.heading01 {
  margin-bottom: heading1-mobile;
}

.heading02 {
  margin-bottom: heading3-mobile;
  font-size: heading2-mobile;
}

.heading03 {
  margin-bottom: heading3-mobile;
  font-size: heading3-mobile;
}

.heading04 {
  margin-bottom: heading4;
  font-size: heading4;
}

.heading05 {
  margin-bottom: heading5;
  font-size: heading5;
}

.heading06 {
  margin-bottom: heading6;
  font-size: heading6;
}

.pageTitle {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-caption);
  text-transform: uppercase;
  text-align: center;
}

/* @media mobile {
  .heading01,
  .pageTitle {
    font-size: heading1-smartphone;
  }

  .heading01 {
    margin-bottom: heading1-smartphone;
  }

  .heading02 {
    margin-bottom: heading2-smartphone;
    font-size: heading2-smartphone;
  }

  .heading03 {
    margin-bottom: heading3-smartphone;
    font-size: heading3-smartphone;
  }
} */

@media smartphone {
  .heading01,
  .pageTitle {
    font-size: heading1-tablet;
  }

  .heading01 {
    margin-bottom: heading1-tablet;
  }

  .heading02 {
    margin-bottom: heading2-tablet;
    font-size: heading2-tablet;
  }

  .heading03 {
    margin-bottom: heading3-tablet;
    font-size: heading3-tablet;
  }
}

/* @media tablet {
  .heading01,
  .pageTitle {
    text-align: initial;
    font-size: heading1-desktop;
  }

  .heading01 {
    margin-bottom: heading1-desktop;
  }

  .heading02 {
    margin-bottom: heading2-desktop;
    font-size: heading2-desktop;
  }

  .heading03 {
    margin-bottom: heading3-desktop;
    font-size: heading3-desktop;
  }
} */

@media desktop {
  .heading01,
  .pageTitle {
    text-align: initial;
    font-size: heading1-tv;
  }

  .heading01 {
    margin-bottom: heading1-tv;
  }

  .heading02 {
    margin-bottom: heading2-tv;
    font-size: heading2-tv;
  }

  .heading03 {
    margin-bottom: heading3-tv;
    font-size: heading3-tv;
  }
}
