@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

.heading {
  color: var(--color-caption);
  line-height: 1.25;
}

.heading01 {
  margin-bottom: 1em;
}

.heading02 {
  margin-bottom: 0.75em;
}

.heading03 {
  margin-bottom: 0.6em;
}

.heading04 {
  margin-bottom: 0.5em;
}

.heading05 {
  margin-bottom: 0.4em;
}

.heading06 {
  margin-bottom: 0.33em;
}

.pageTitle {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-caption);
  text-transform: uppercase;
  text-align: center;
  font-size: var(--fs-title-i-mobile);
}

@media mobile {
  .pageTitle {
    font-size: var(--fs-title-i-smartphone);
  }
}

@media smartphone {
  .pageTitle {
    font-size: var(--fs-title-i-tablet);
  }
}

@media tablet {
  .pageTitle {
    text-align: left;
    font-size: var(--fs-title-i-desktop);
  }
}

@media desktop {
  .pageTitle {
    font-size: var(--fs-title-i-tv);
  }
}
