@value fstext: "../../cssvariables/fstext.module.css";
@value color-text: "../../cssvariables/color.module.css";
@value fstext from fstext;
@value color-text from color-text;

.text {
  padding-bottom: 10px;
  font-size: fstext;
  line-height: 1.8;
  color: color-text;
}

.text.centeredText {
  text-align: center;
}

.text.redText {
  color: red;
}

.text.greenText {
  color: green;
}
