@value mediasizes: "../../cssvariables/media.module.css";
@value fstexts: "../../cssvariables/fstext.module.css";
@value color-text: "../../cssvariables/color.module.css";
@value mobile, smartphone, desktop from mediasizes;
@value fstext, fstext-smartphone from fstexts;
@value color-text from color-text;

.text {
  padding-bottom: 10px;
  font-size: fstext;
  line-height: 1.8;
  text-align: justify;
  color: color-text;
}

.centeredText {
  composes: text;
  text-align: center;
}

.warnText {
  composes: text;
  color: red;
}

.greenText {
  color: green;
}

.warnCenteredText {
  composes: centeredText;
  color: red;
}

@media smartphone {
  .text {
    font-size: fstext-smartphone;
  }
}
