/* @value sizes: "../../cssvariables/media.module.css"; */
@value fstext: "../../cssvariables/fstext.module.css";
/* @value mobile-to, smartphone-to from sizes; */
@value fstext from fstext;

.text {
  padding-bottom: 10px;
  font-size: fstext;
  line-height: 1.8;
  color: var(--color-text);
}

.text.centeredText {
  text-align: center;
}

.text.redText {
  color: red;
}

.text.greenText {
  color: green;
}

/* @media mobile-to {
  .text {
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .text {
    font-size: var(--fs-text-tablet);
  }
} */
