.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 1px;
  background-color: var(--color-text-opacity);
  overflow: hidden;
  list-style: initial;
  list-style-type: decimal;
  padding: 1px 1px 1px 24px;
}

.list:last-child {
  margin-bottom: 0;
}

.list:only-child {
  margin-bottom: 0;
}

.list .list {
  margin: 0 2px;
}

.message {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: 1px solid var(--color-text-opacity);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  color: var(--color-text-opacity);
}
