@value sizes: "../../cssvariables/media.module.css";
@value mobile-to from sizes;

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  padding: 4px 24px;
  margin-bottom: 10px;
  color: var(--color-light);
  background-color: var(--color-text);
}

@media mobile-to {
  .bar {
    min-height: 40px;
    padding: 6px 24px;
  }
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: var(--color-logolight);
  border-radius: 3px;
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 0;
  background-image: url('../../assets/images/search.svg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: var(--my-transition);
  outline: none;
}

@media mobile-to {
  .button {
    width: 36px;
    height: 36px;
  }
}

.button:hover {
  opacity: 1;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.input {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 4px;
  font-size: var(--fs-text-mobile);
  color: var(--color-text);
}

.input::placeholder {
  font-size: var(--fs-text-mobile);
}

@media mobile-to {
  .input {
    font-size: var(--fs-text-smartphone);
  }

  .input::placeholder {
    font-size: var(--fs-text-smartphone);
  }
}
