@value icon from "../../../../components/DecoratedInput/DecoratedInput.module.css";

.wrap-option {
  position: relative;
  margin-bottom: 10px;
}

.option {
  width: 100%;
  padding: 6px 10px 6px 35px;
  border-radius: 4px;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  transition: var(--my-transition);
}

.option:hover {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.option:hover + .icon {
  color: var(--color-accent);
}
