@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone, tablet, desktop from sizes;

@value colors: "../../cssvariables/colors.module.css";
@value light, sapphire from colors;

@media smartphone {
  .menu {
    display: flex;
    justify-content: space-around;
  }
}

@media tablet {
  .menu {
    gap: 30px;
  }
}

.item {
  text-align: center;
}

.navlink {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: none;
  color: light;
}

.navlinkactive {
  composes: navlink;
  color: sapphire;
}

.navlink:hover {
  color: sapphire;
}

@media mobile {
  .navlink {
    font-size: 20px;
  }
}

@media smartphone {
  .navlink {
    padding: 12px 0;
  }
}

.decor {
  color: logoblack;
}
