@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

@media smartphone-to {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media tablet-to {
  .menu {
    gap: 10px;
  }
}

.item {
  text-align: center;
}

.navlink {
  display: block;
  padding: 10px;
  font-size: var(--fs-text-mobile);
  font-weight: 500;
  line-height: 1.25;
  text-decoration: none;
  color: var(--color-light);
  transition: var(--my-transition);
}

.navlink:hover {
  color: var(--color-accent);
}

.navlinkactive {
  composes: navlink;
  color: var(--color-accent);
  background-color: var(--color-light);
}

@media mobile-to {
  .navlink {
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .navlink {
    padding: 12px 10px;
    font-size: var(--fs-text-tablet);
  }
}

@media tablet-to {
  .navlink {
    padding: 12px 10px 13px;
  }
}

.decor {
  color: logoblack;
}
