@value mediasizes: "../../cssvariables/media.module.css";
@value fstexts: "../../cssvariables/fstext.module.css";
@value colors: "../../cssvariables/color.module.css";
@value mobile, smartphone, tablet from mediasizes;
@value fstext, fstext-smartphone from fstexts;
@value color-light, color-accent from colors;

.navlink {
  display: block;
  padding: 10px;
  font-size: fstext;
  font-weight: 500;
  line-height: 1.25;
  text-decoration: none;
  color: color-light;
  transition: var(--my-transition);
}

.navlink:hover {
  color: color-accent;
}

.navlinkActive {
  composes: navlink;
  color: color-accent;
  background-color: color-light;
}

.item {
  text-align: center;
}

@media smartphone {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navlink {
    padding: 12px 10px;
    font-size: fstext-smartphone;
  }
}

@media tablet {
  .menu {
    gap: 10px;
  }

  .navlink {
    padding: 12px 10px 13px;
  }
}
