@value mediasizes: "../../cssvariables/media.module.css";
@value fsheadings: "../../cssvariables/fsheading.module.css";
@value sizes: "../../cssvariables/media.module.css";
@value colors: "../../cssvariables/color.module.css";
@value mobile, smartphone, desktop from mediasizes;
@value heading1-mobile, heading1-tablet, heading1-tv from fsheadings;
@value heading2-mobile, heading2-tablet, heading2-tv from fsheadings;
@value heading3, heading3-mobile, heading3-tablet, heading3-tv from fsheadings;
@value heading4, heading4-mobile from fsheadings;
@value heading5, heading5-mobile from fsheadings;
@value heading6, heading6-mobile from fsheadings;
@value color-dark from colors;

.heading {
  color: color-dark;
  line-height: 1.5;
  text-align: center;
}

.heading01,
.pageTitle {
  font-size: heading1-mobile;
}

.heading01 {
  margin-bottom: calc(heading1-mobile);
}

.heading02 {
  margin-bottom: calc(heading2-mobile);
  font-size: heading2-mobile;
}

.heading02::before {
  content: '';
  display: block;
  height: calc(heading2-mobile);
}

.heading03 {
  margin-bottom: calc(heading3);
  font-size: heading3;
  text-transform: uppercase;
}

.heading03::before {
  content: '';
  display: block;
  height: calc(heading3);
}

.heading04 {
  margin-bottom: calc(heading4);
  font-size: heading4;
}

.heading04::before {
  content: '';
  display: block;
  height: calc(heading4);
}

.heading05 {
  margin-bottom: calc(heading5);
  font-size: heading5;
}

.heading05::before {
  content: '';
  display: block;
  height: calc(heading5);
}

.heading06 {
  margin-bottom: calc(heading6);
  font-size: heading6;
  text-align: left;
}

.heading06::before {
  content: '';
  display: block;
  height: calc(heading6);
}

.pageTitle {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-caption);
  text-transform: uppercase;
  text-align: center;
}

.cardTitle02 {
  padding: 0;
  margin-bottom: 0;
  font-size: var(--fs-text-mobile);
  font-weight: 700;
  text-transform: lowercase;
  text-align: center;
  color: var(--color-text);
  opacity: 0.85;
  transition: var(--my-transition);
}

.cardTitle03 {
  padding: 0;
  margin-bottom: 10px;
  font-size: var(--fs-text-mobile);
  font-weight: 700;
  text-align: center;
  color: var(--color-text);
  opacity: 0.85;
  transition: var(--my-transition);
}

.cardTitle04 {
  padding: 0;
  margin-bottom: 10px;
  font-size: var(--fs-text-mobile);
  font-weight: 700;
  text-align: left;
  color: var(--color-text);
  opacity: 0.85;
  transition: var(--my-transition);
}

@media mobile {
  .heading03 {
    margin-bottom: calc(heading3-mobile);
    font-size: heading3-mobile;
  }

  .heading03::before {
    content: '';
    display: block;
    height: calc(heading3-mobile);
  }

  .heading04 {
    margin-bottom: calc(heading4-mobile);
    font-size: heading4-mobile;
  }

  .heading04::before {
    content: '';
    display: block;
    height: calc(heading4-mobile);
  }

  .heading05 {
    margin-bottom: calc(heading5-mobile);
    font-size: heading5-mobile;
  }

  .heading05::before {
    content: '';
    display: block;
    height: calc(heading5-mobile);
  }

  .heading06 {
    margin-bottom: calc(heading6-mobile);
    font-size: heading6-mobile;
    text-align: left;
  }

  .heading06::before {
    content: '';
    display: block;
    height: calc(heading6-mobile);
  }
}

@media smartphone {
  .heading01,
  .pageTitle {
    font-size: heading1-tablet;
  }

  .heading01 {
    margin-bottom: calc(heading1-tablet);
  }

  .heading02 {
    margin-bottom: calc(heading2-tablet * 0.5);
    font-size: heading2-tablet;
  }

  .heading03 {
    margin-bottom: calc(heading3-tablet * 0.5);
    font-size: heading3-tablet;
  }

  .cardTitle02 {
    margin-bottom: 0;
    font-size: var(--fs-text-smartphone);
  }

  .cardTitle03 {
    font-size: var(--fs-text-smartphone);
  }

  .cardTitle04 {
    font-size: var(--fs-text-smartphone);
  }
}

@media desktop {
  .heading01,
  .pageTitle {
    text-align: initial;
    font-size: heading1-tv;
  }

  .heading01 {
    margin-bottom: calc(heading1-tv * 0.5);
  }

  .heading02 {
    margin-bottom: calc(heading2-tv * 0.5);
    font-size: heading2-tv;
  }

  .heading03 {
    margin-bottom: calc(heading2-tv * 0.5);
    font-size: heading3-tv;
  }

  .cardTitle02 {
    margin-bottom: 0;
    font-size: var(--fs-text-tablet);
  }

  .cardTitle03 {
    font-size: var(--fs-text-tablet);
  }

  .cardTitle04 {
    font-size: var(--fs-text-tablet);
  }
}
