@value mediasizes: "../../cssvariables/media.module.css";
@value smartphone from mediasizes;
@value fstexts: "../../cssvariables/fstext.module.css";
@value fstext, fstext-smartphone, fslabel, fslabel-mobile from fstexts;
@value colors: "../../cssvariables/color.module.css";
@value color-text, color-accent from colors;

.field {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  padding: 14px;
  color: color-text;
}

.check {
  transform: translateY(-1px);
}

.span {
  font-size: fstext;
  transition: transition;
  cursor: pointer;
}

.check:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.check:disabled + .span {
  opacity: 0.5;
  cursor: not-allowed;
}

.check:not(:disabled) + .span:hover,
.check:not(:disabled) + .span:hover {
  color: color-accent;
}

@media smartphone {
  .span {
    font-size: fstext-smartphone;
  }
}
