@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.options {
  border: 1px solid var(--color-text);
  border-radius: 10px;
  padding: 10px;
}

.option {
  width: 64px;
  height: 64px;
  border: 0;
  border-radius: 5px;
  transition: var(--my-transition);
}

.option:hover {
  transform: scale(1.13);
}

.activeOption {
  transform: scale(1.13);
  border: 0;
  border-radius: 5px;
}
