@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.item {
  padding: 6px 10px;
  font-size: var(--fs-text-mobile);
  color: var(--color-text);
  transition: var(--my-transition);
}

.item:hover {
  color: var(--color-dark);
}

@media mobile-to {
  .item {
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .item {
    font-size: var(--fs-text-tablet);
  }
}
