@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.canvas {
  position: relative;
  width: 100%;
  height: 300px;
  /* height: max(100%, 300px); */
  border: 1px solid var(--color-text);
  background-color: var(--color-logolight);
  border-radius: 4px;
  overflow: hidden;
}

/* @media tablet-to {
  .canvas {
    height: 100%;
  }
} */
