.canvas {
  position: relative;
  width: 100%;
  min-height: 300px;
  height: 100%;
  border: 1px solid var(--color-text);
  background-color: var(--color-logolight);
  border-radius: 4px;
  overflow: hidden;
}
