@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 400px;
}

.label {
  font-size: 10px;
  color: var(--color-text);
}

.wrap-input {
  position: relative;
}

.input {
  width: 100%;
  padding: 4px 20px 4px 31px;
  border-radius: 4px;
  border: 1px solid var(--color-text);
  font-size: var(--fs-text-mobile);
  color: var(--color-text);
  transition: var(--my-transition);
}

.input:hover,
.input:focus {
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.input:disabled {
  color: var(--color-light-opacity);
  border: 1px solid var(--color-light-opacity);
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  width: var(--fs-text-mobile);
  height: var(--fs-text-mobile);
  transform: translate(0, -50%);
  font-size: var(--fs-text-mobile);
  color: var(--color-text);
  transition: var(--my-transition);
}

.input:hover + .icon,
.input:focus + .icon {
  color: var(--color-accent);
}

.input:disabled + .icon {
  color: var(--color-light-opacity);
}

@media mobile-to {
  .icon {
    width: var(--fs-text-smartphone);
    height: var(--fs-text-smartphone);
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .icon {
    width: var(--fs-text-tablet);
    height: var(--fs-text-tablet);
    font-size: var(--fs-text-tablet);
  }
}

@media mobile-to {
  .label {
    font-size: 12px;
  }

  .input {
    padding: 4px 20px 4px 33px;
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .input {
    padding: 6px 20px 6px 35px;
    font-size: var(--fs-text-tablet);
  }
}
