@value colors: "../../cssvariables/color.module.css";
@value animations: "../../cssvariables/animation.module.css";
@value color-text, color-logo-light from colors;
@value transition from animations;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 10px;
  padding: 1px;
  background-color: color-text;
  transition: transition;
  overflow: hidden;
}

.card:hover {
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.36),
    0px 4px 4px rgba(0, 0, 0, 0.18),
    1px 4px 6px rgba(0, 0, 0, 0.18);
  transform: scale(1.02);
  z-index: 200;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 9px 9px 0 0;
  padding: 0 20px;
  background-color: color-logo-light;
}

.content {
  flex-grow: 1;
  border-radius: 0 0 9px 9px;
  padding: 9px;
  background-color: color-logo-light;
}
