@value sizes: "../../cssvariables/media.module.css";
@value mobile-to from sizes;

.miniform {
  display: flex;
  gap: 1px;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 10px;
  padding: 1px;
  background-color: var(--color-text);
  border-radius: 4px;
  opacity: 0.85;
  overflow: hidden;
  transition: var(--my-transition);
}

.miniform:hover {
  background-color: var(--color-accent);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.miniformButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 0 3px 3px 0;
  font-size: var(--fs-text-tablet);
  color: var(--color-light);
  background-color: var(--color-text);
  transition: var(--my-transition);
  outline: none;
}

.miniform:hover .miniformButton {
  color: var(--color-logolight);
  background-color: var(--color-accent);
}

@media mobile-to {
  .miniformButton {
    width: 36px;
    height: 36px;
    font-size: var(--fs-text-desktop);
  }
}

.miniformInput {
  display: inline-block;
  width: 100%;
  height: 28px;
  border: none;
  outline: none;
  padding: 0 8px;
  border-radius: 3px 0 0 3px;
  font-size: var(--fs-text-mobile);
  color: var(--color-text);
}

.miniformInput::placeholder {
  font-size: var(--fs-text-mobile);
}

@media mobile-to {
  .miniformInput {
    height: 36px;
    font-size: var(--fs-text-smartphone);
  }

  .miniformInput::placeholder {
    font-size: var(--fs-text-smartphone);
  }
}
