@value heading1: 30px;
@value heading1-mobile: 32px;
@value heading1-tablet: 34px;
@value heading1-tv: 36px;

@value heading2: 24px;
@value heading2-mobile: 26px;
@value heading2-smartphone: 28px;
@value heading2-tablet: 30px;
@value heading2-tv: 32px;

@value heading3: 22px;
@value heading3-mobile: 24px;
@value heading3-smartphone: 26px;
@value heading3-tablet: 26px;
@value heading3-tv: 28px;

@value heading4: 20px;
@value heading4-mobile: 22px;
@value heading4-smartphone: 24px;

@value heading5: 18px;
@value heading5-mobile: 20px;
@value heading5-smartphone: 22px;

@value heading6: 16px;
@value heading6-mobile: 18px;
@value heading6-smartphone: 20px;
