@value heading1-mobile: 32px;
@value heading1-tablet: 34px;
@value heading1-tv: 36px;

@value heading2-mobile: 28px;
@value heading2-tablet: 30px;
@value heading2-tv: 32px;

@value heading3-mobile: 24px;
@value heading3-tablet: 26px;
@value heading3-tv: 28px;

@value heading4: 22px;

@value heading5: 18px;

@value heading6: 16px;
