@value sizes: "../../cssvariables/media.module.css";
@value tablet-to from sizes;

.box {
  margin: 0 auto 10px;
  padding: 10px;
  border: 1px solid var(--color-text);
  border-radius: 6px;
  background-color: var(--color-light);
}

@media tablet-to {
  .box {
    max-width: 400px;
  }
}
