@value item from "../../components/Item/Item.module.css";

.link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--color-text);
  transition: var(--my-transition);
}

.item:hover .link {
  color: var(--color-accent);
}
