.list {
  margin-bottom: 40px;
}

.item {
  padding: 6px 10px;
  color: var(--color-text);
}

.link {
  text-decoration: none;
  color: inherit;
  transition: var(--my-transition);
}

.item:hover .link {
  color: var(--color-accent);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 0;
}
