@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.spinner {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 4px 24px;
  background-color: var(--color-text);
}

.spinner p {
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-light);
}

.iconSpin {
  margin-right: 10px;
  font-size: 16px;
  color: var(--color-light);
  animation: icon-spin 2s infinite linear;
}

@media mobile-to {
  .spinner p {
    font-size: 14px;
  }
}

@media tablet-to {
  .spinner {
    padding: 6px 24px;
  }

  .iconSpin {
    font-size: 18px;
  }
}

@-webkit-keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
