@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.slide {
  white-space: nowrap;
  display: inline;
  padding: 0.5rem;
}

.slide img {
  display: initial;
}
