@value sizes: "../../cssvariables/media.module.css";
@value tablet-to, desktop-to from sizes;

.thumb {
  border: 1px solid var(--color-text);
  border-radius: 6px;
  margin: 0 auto 10px;
}

.thumb img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media tablet-to {
  .thumb {
    width: 400px;
    height: 400px;
  }
}

@media desktop-to {
  .thumb {
    margin: 0;
  }
}
