@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.FlexBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.stretch {
  align-items: stretch;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.baseline {
  align-items: baseline;
}

@media smartphone-to {
  .FlexBox {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .stretch {
    align-items: stretch;
  }

  .flex-start {
    align-items: flex-start;
  }

  .flex-end {
    align-items: flex-end;
  }

  .baseline {
    align-items: baseline;
  }
}
