@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.time {
  font-family: monospace;
  font-size: 18px;
  font-weight: 700;
}

@media tablet-to {
  .time {
    font-size: 30px;
  }
}

@media desktop-to {
  .time {
    font-size: 50px;
  }
}
