@value sizes: "../../cssvariables/media.module.css";
@value tablet-to, desktop-to from sizes;

.timeDisplayWrap {
  text-align: center;
}

.timeDisplay {
  font-family: monospace;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text);
}

@media tablet-to {
  .timeDisplay {
    font-size: 30px;
  }
}

@media desktop-to {
  .timeDisplay {
    font-size: 50px;
  }
}
