@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to from sizes;

.userName {
  font-size: var(--fs-text-mobile);
  font-weight: 500;
  color: var(--color-light);
}

@media mobile-to {
  .userName {
    font-size: var(--fs-text-smartphone);
  }
}

@media smartphone-to {
  .userName {
    font-size: var(--fs-text-tablet);
  }
}
