@value mediasizes: "../../cssvariables/media.module.css";
@value fstexts: "../../cssvariables/fstext.module.css";
@value color-text: "../../cssvariables/color.module.css";
@value smartphone from mediasizes;
@value fstext, fstext-smartphone from fstexts;
@value color-light from color-text;

.userName {
  font-size: fstext;
  font-weight: 500;
  color: color-light;
}

@media smartphone {
  .userName {
    font-size: fstext-smartphone;
  }
}
