@value sizes: "../../cssvariables/media.module.css";
@value mobile-to, smartphone-to, tablet-to, desktop-to from sizes;

.slider {
  width: 100%;
  overflow: hidden;
}

.list {
  white-space: nowrap;
}
